<h1>
    Sign Up
</h1>
<form action="/users/create" method="POST">

<input type="text" name="name" placeholder="Your Email" required>

<input type="email" name="email" placeholder="Your Name" required>

<input type="e" name="password" placeholder="Your Password" required>

<input type="e" name="confirm_password" placeholder="
Confirm Password" required>

<input type="submit" value="Sign Up">

</form>